In [23]:
import pandas as pd, yfinance as yf
spy_1m = yf.download("SPY", period="7d", interval="1m", progress=False) \
            .tz_localize(None)
spy_1m.columns = spy_1m.columns.get_level_values(0)
spy_15 = (spy_1m
          .resample("15T")
          .agg({"Open":  "first",
                "High":  "max",
                "Low":   "min",
                "Close": "last",
                "Volume":"sum"}))
spy_15["ret"] = spy_15["Close"].pct_change()
spy_15["ma20"] = spy_15["Close"].rolling(20).mean()
spy_15["std20"] = spy_15["Close"].rolling(20).std()
spy_15.head(30)

/var/folders/5j/hpptvy955_l_dyf5n8g_5vs00000gn/T/ipykernel_61651/2219747164.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  spy_1m = yf.download("SPY", period="7d", interval="1m", progress=False) \
/var/folders/5j/hpptvy955_l_dyf5n8g_5vs00000gn/T/ipykernel_61651/2219747164.py:6: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  .resample("15T")
/var/folders/5j/hpptvy955_l_dyf5n8g_5vs00000gn/T/ipykernel_61651/2219747164.py:12: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  spy_15["ret"] = spy_15["Close"].pct_change()

Price,Open,High,Low,Close,Volume,ret,ma20,std20
Datetime,,,,,,,,
2025-06-11 13:30:00,604.190002,604.250000,602.799988,603.200012,7562647,NaN,NaN,NaN
2025-06-11 13:45:00,603.190002,603.900024,602.250000,603.650024,2775591,0.000746,NaN,NaN
2025-06-11 14:00:00,603.659973,604.159973,603.299988,604.145020,1751451,0.000820,NaN,NaN
2025-06-11 14:15:00,604.140015,604.885010,604.000000,604.734985,1946343,0.000977,NaN,NaN
2025-06-11 14:30:00,604.739990,604.820007,604.445007,604.700012,1427962,-0.000058,NaN,NaN
2025-06-11 14:45:00,604.770020,605.059998,604.607971,604.700012,1486436,0.000000,NaN,NaN
2025-06-11 15:00:00,604.900024,604.987915,604.099976,604.460083,2162695,-0.000397,NaN,NaN
2025-06-11 15:15:00,604.359985,604.739990,604.119995,604.219971,1493867,-0.000397,NaN,NaN
2025-06-11 15:30:00,604.210022,604.440002,603.679993,603.759888,1156467,-0.000761,NaN,NaN
2025-06-11 15:45:00,603.750000,604.219971,603.229980,603.580017,2219050,-0.000298,NaN,NaN
2025-06-11 16:00:00,603.590027,603.869995,602.224976,602.789978,3122833,-0.001309,NaN,NaN
2025-06-11 16:15:00,602.789978,603.239990,601.960022,603.219971,2242238,0.000713,NaN,NaN
2025-06-11 16:30:00,603.210022,603.554993,602.739990,603.059998,1521508,-0.000265,NaN,NaN
2025-06-11 16:45:00,603.059998,603.599976,602.919983,603.419983,1442583,0.000597,NaN,NaN
2025-06-11 17:00:00,603.405029,604.289978,603.260010,603.940002,2264856,0.000862,NaN,NaN
2025-06-11 17:15:00,603.950012,604.429993,603.760010,604.349976,885183,0.000679,NaN,NaN
2025-06-11 17:30:00,604.349976,604.445007,603.159973,603.669983,1373633,-0.001125,NaN,NaN
2025-06-11 17:45:00,603.669983,603.729919,602.359985,602.507019,1706227,-0.001926,NaN,NaN
2025-06-11 18:00:00,602.510010,602.780029,600.380005,600.409973,5272689,-0.003481,NaN,NaN
2025-06-11 18:15:00,600.419983,601.260010,599.270020,600.710022,4498402,0.000500,603.461346,1.180181
2025-06-11 18:30:00,600.729980,601.987976,599.859985,601.987976,3421304,0.002127,603.400745,1.224590
2025-06-11 18:45:00,601.969971,602.159973,600.659973,600.789978,2588088,-0.001990,603.257742,1.354093
2025-06-11 19:00:00,600.820007,600.989990,599.929993,600.869995,2280767,0.000133,603.093991,1.436655
2025-06-11 19:15:00,600.880005,601.119995,600.099976,600.479980,2518702,-0.000649,602.881241,1.494736
2025-06-11 19:30:00,600.469971,600.979980,599.729980,600.729980,2858875,0.000416,602.682739,1.504072
2025-06-11 19:45:00,600.739990,601.590027,600.280029,601.409973,7569590,0.001132,602.518237,1.450803
2025-06-11 20:00:00,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN
2025-06-11 20:15:00,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN
2025-06-11 20:30:00,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN
2025-06-11 20:45:00,NaN,NaN,NaN,NaN,0,0.000000,NaN,NaN